.container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  width: 90%;
  max-width: 620px;
  max-height: 90svh;
  z-index: 999;
  overflow-y: auto;
  outline: 4px solid var(--color-black);
  border-radius: 10px;
  padding: 20px 0;
}

.container h4,
.container h5 {
  margin: 20px;
}

.container h4 {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}
.container h5 {
  font-size: 1.25rem;
}

.container p {
  color: black;
  margin: 20px;
  font-size: 1rem;
}

.container ul {
  padding: 0 40px;
  font-size: 1rem;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.closeButton:before,
.closeButton:after {
  position: absolute;
  content: '';
  height: 4px;
  width: inherit;
  background: black;
  right: 0;
  top: 12px;
}

.closeButton:before {
  rotate: 45deg;
}
.closeButton:after {
  rotate: -45deg;
}
